---
import { getSlugFromPath, getDateFormats } from "../../lib/utils";
import Layout from "../../components/Layout.astro";

export const getStaticPaths = async () => {
  const allPosts = (await Astro.glob("../../content/posts/*.md")) as any;

  const paths = allPosts.map((post: any) => {
    const slug = getSlugFromPath(post.file);

    return {
      params: {
        slug,
      },
      props: { post },
    };
  });

  return paths;
};

const { post } = Astro.props as any;
const { title, date, description } = post.frontmatter!;
const { displayDate, displayDateSmall } = getDateFormats(date);
---

<Layout title={title} description={description}>
  <header class="flex justify-between items-end pb3 mb4 bb b--c-main">
    <h1 class="f3 c-second ma0 pb0 fw4 roboto w-70">
      {title}
    </h1>
    <p class="post-date-small f5 fw4 roboto pa0 ma0 c-second w-30 tr">
      {displayDateSmall}
    </p>
    <p class="post-date f5 fw4 roboto pa0 ma0 c-second w-30 tr">
      {displayDate}
    </p>
  </header>
  <div class="textBody">
    <post.Content />
  </div>
</Layout>
