---
import { getCollection } from "astro:content";
import { getSlugFromPath, getDateFormats } from "../../lib/utils";
import Layout from "../../components/Layout.astro";

export const getStaticPaths = async () => {
  const allPosts = await getCollection("posts");

  const paths = allPosts.map((post) => {
    const slug = getSlugFromPath(post.id);

    return {
      params: {
        slug,
      },
      props: { post },
    };
  });

  return paths;
};

const { post } = Astro.props;
const { title, date, description = "" } = post.data;
const { displayDate, displayDateSmall } = getDateFormats(date);
const { Content } = await post.render();
---

<Layout title={title} description={description}>
  <header class="flex justify-between items-end pb3 mb4 bb b--c-main">
    <h1 class="f3 c-second ma0 pb0 fw4 roboto w-70">
      {title}
    </h1>
    <p class="post-date-small f5 fw4 roboto pa0 ma0 c-second w-30 tr">
      {displayDateSmall}
    </p>
    <p class="post-date f5 fw4 roboto pa0 ma0 c-second w-30 tr">
      {displayDate}
    </p>
  </header>
  <div class="textBody">
    <Content />
  </div>
</Layout>
