---
import "../styles/tachyons.css";
import "../styles/global.css";
import "../styles/links.css";
import ColorThemeScript from "./ColorThemeScript.astro";

type Props = { title: string; description: string; children: any };

const { title, description } = Astro.props;
const newsletterUrl = "https://www.newsletter.kahvipatel.com";
const navStyle = "roboto c-main";
const descriptionStyle = "f6 roboto pt1 mt2 c-second";
const themeToggleId = "color-theme-toggle";
---

<style>
  @media screen and (max-width: 30rem) {
    .c-third {
      flex-direction: column;
      align-items: flex-start;
      row-gap: 0.25rem;
    }
    .hide-mobile {
      display: none;
    }
    .ml2 {
      margin-left: 0.25rem;
    }
  }
  .speaker {
    transition: transform 0.1s linear; /* Smooth transition for the transform */
    transform: scale(1);
  }
  .speaker:hover {
    transform: scale(1.25);
  }
</style>

<html lang="en">
  <head>
    <ColorThemeScript />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />
    <title>{title}</title>
  </head>
  <body>
    <div class="w-90-ns mw7 mv4 center c-background">
      <header class="pa3">
        <div class="flex items-center justify-between nav-bar">
          <span class="c-third flex">
            <p>
              <a href="/" class={navStyle.concat(" mr2")}>home</a>
               /
              <a href="/book-shelf" class={navStyle.concat(" mh2")}>
                book shelf</a
              >
              <span class="mr2 hide-mobile">/</span>
            </p>
            <p>
              <a
                href={newsletterUrl}
                class={navStyle.concat(" mr2")}
                target="_blank"
              >
                newsletter</a
              >
               /
              <a href="/about" class={navStyle.concat(" ml2")}>about</a>
            </p>
          </span>
          <button id={themeToggleId} class="bn br3 f4">🌚</button>
        </div>
        {
          Astro.url.pathname === "/" && (
            <div>
              <div class="flex items-center mt4">
                <h1 class="mb0 mt0 b helvetica underline f1">{title}</h1>
                <a class="ml3 f4 pt2 no-hov speaker" href="/pronounce">
                  🔈
                </a>
              </div>
              <p class={descriptionStyle}>{description}</p>
            </div>
          )
        }
      </header>
      <main class="pa3"><slot /></main>
    </div>
  </body>
</html>
